@using MockPortal_Components;

@attribute [Route(Constants.IndexPageUrl)]

<h4>Click on API Products Link Below</h4>

<div>
    <ul>
        <li><a class="navigation-link" href="apiproducts">API Products</a></li>
    </ul>
</div>
